body{
    margin: 0;
    height: 100%;
    width: 100%;
}

.nav{
    height: 50px;
    background-color: rgb(123, 163, 163);
    border-radius: 2px;
    border-width: 2px;
    border-color: rgb(66, 59, 59);
    width: 100%;
    position:relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.h2{
    position: absolute;
    color: azure;
    font-family: 'Courier New';
    font-size: 200%;
}

.nav__h2{
    margin: auto;
    left: 47%;
    top: 10px;
}

.cnt{
    position:relative;
    width:100%;
    display:flex;
}

.cnt__ul{
    left: 950px;
    display:inline-block;
    position: relative;
    margin:150px 0;

}

.li{
    list-style: none;
    margin:auto;
    margin-left:200px;
    min-height:50px;
    padding:0 0 50px 30px;
    position:relative;
    border-left:3px solid #A37B7B;
}

.li::before{
    width: 28px;
    left: -18px;
    top: -5px;
    height: 28px;
    border: 4px solid #A37B7B;
    position: absolute;
    border-radius: 350%;
    content: " ";
    background: #7ba3a3;
}

.li:hover::before{
    background: #bce7e7;
}

.ul__l1, .ul__l4, .ul__l5 {
    padding:0 0 30px 30px !important;
}
.ul__l2, .ul__l6, .ul__l7{
    padding:0 0 60px 30px !important;
}

::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
   
::-webkit-scrollbar-thumb {
    background: #7ba3a3; 
  }
  


  .left-text, .right-text{
    color: #534b4b;
    font-size: 16px;
    font-weight: bold;
}

.li__left-text{
    position: absolute;
    width:500px;
    left: -135%;
    text-align: right;
}

